<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta key="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rifi</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <button
        onclick="window.location.href = '/?key=up';"
        class="two cta"
      ></button>
      <button
        onclick="window.location.href = '/?key=left';"
        class="three cta"
      ></button>
      <button
        onclick="window.location.href = '/?key=right';"
        class="four cta"
      ></button>

      <button
        onclick="window.location.href = '/?key=down';"
        class="five cta"
      ></button>
      <button
        onclick="window.location.href = '/?key=space';"
        class="six cta"
      ></button>
    </div>
  </body>
</html>
