<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta key="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rifi</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  
  <script>
function mysubmit(key) {
	fetch('./press?key=' + key)
  .then((response) => {
    return response.json();
  })
  .then((data) => {
	if (! data.press){
		alert("Error in processing button");
	}
    console.log(data);
  });
}
  
  </script>
  <body>
    <div class="wrapper">
      <button
        onclick="mysubmit('up')"
        class="two cta"
      ></button>
      <button
        onclick="mysubmit('right')"
        class="three cta"
      ></button>
      <button
        onclick="mysubmit('left')"
        class="four cta"
      ></button>

      <button
        onclick="mysubmit('down')"
        class="five cta"
      ></button>
      <button
        onclick="mysubmit('space')"
        class="six cta"
      ></button>
    </div>
  </body>
</html>
